Options +FollowSymlinks
RewriteEngine On

# exclude files from rewriting
RewriteCond %{REQUEST_FILENAME} !-f
# exclude directories from rewriting
RewriteCond %{REQUEST_FILENAME} !-d
# exclude static files
RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|html?|ico|jpe?g|js|pdf|png|swf|txt|xml|woff2|ttf|woff)$

# rewrite rules, NS skips rewrite rule for internal sub-requests
# for FW/1, removes index.cfm from the URL
RewriteRule ^(.*)$ /index.cfm/$1 [NS,L,QSA]