component accessors="true" {    
	
	public any function init( fw ) {
		variables.fw = fw;
		return this;
	}
	
	public struct function list( rc ) {
      
	}

	public struct function create( rc ) {
      
	}

	public struct function read( rc ) {
      
	}

	public struct function update( rc ) {
      
	}

	public struct function delete( rc ) {
      
	}
	
}
